<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<runtime>
		<!--複数のCPU Groupを活用する方法 ref : https://devlights.hatenablog.com/entry/2015/08/27/203638 -->
		<Thread_UseAllCpuGroups enabled="true"/>
		<GCCpuGroup enabled="true"/>
		<gcServer enabled="true"/>
	</runtime>
</configuration>
